<section class="text-white body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Contact</h1>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <form action="https://api.web3forms.com/submit" method="POST" class="flex flex-wrap -m-2">
        <input type="hidden" name="access_key" value="00b92e22-6782-460d-ac5a-d6e161c7a8b1">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-white">Nom Prenom</label>
            <input type="text" id="name" name="name"
                   class="bg-[#18191E] border border-[#846CE6] placeholder-[#9CA2A9] text-gray-100 text-sm rounded-lg block w-full p-2.5"
                   placeholder="Nom et Prenom">
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="email" class="leading-7 text-sm text-white">Email</label>
            <input type="email" id="email" name="email"
                   class="bg-[#18191E] border border-[#846CE6] placeholder-[#9CA2A9] text-gray-100 text-sm rounded-lg block w-full p-2.5"
                   placeholder="jean@google.com">
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-white">Message</label>
            <textarea id="message" name="message"
                      class="bg-[#18191E] border border-[#846CE6] placeholder-[#9CA2A9]
                text-gray-100 text-sm rounded-lg block w-full p-2.5"
                      placeholder="Message ..."
            ></textarea>
          </div>
        </div>
        <div class="p-2 w-full">
          <button type="submit" class="flex mx-auto text-white border-[#846CE6] border rounded-full hover:bg-[#846CE6] py-2 px-8 text-lg">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</section>
