<header class="mx-auto w-full fixed top-0 bg-[#0E0A14] z-50 px-2 sm:px-6 lg:px-8">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <div routerLink="/home" class="flex title-font font-medium items-center md:justify-start justify-center text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-[#846CE6] rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <h4 class="cursor-pointer" style="color: #846CE6;">JJN</h4>
    </div>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a routerLink="/home" routerLinkActive="text-[#846CE6] underline" class="text-gray-300 hover:text-[#846CE6] rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
      <a routerLinkActive="text-[#846CE6] underline font-bold" class="text-gray-300 hover:text-[#846CE6] rounded-md px-3 py-2 text-sm font-medium">Education</a>
      <a routerLinkActive="text-[#846CE6] underline font-bold" class="text-gray-300 hover:text-[#846CE6] rounded-md px-3 py-2 text-sm font-medium">Skills</a>
      <a routerLinkActive="text-[#846CE6] underline font-bold" class="text-gray-300 hover:text-[#846CE6] rounded-md px-3 py-2 text-sm font-medium">Projects</a>
      <a routerLinkActive="text-[#846CE6] underline font-bold" class="text-gray-300 hover:text-[#846CE6] rounded-md px-3 py-2 text-sm font-medium">Contact</a>
    </nav>
  </div>
</header>
