$animationSpeed: 40s;

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}

.container{
  margin-top: 2rem;
}

.slider {
  height: 85px;
  margin: auto;
  overflow:hidden;
  position: relative;
  width: 99%;

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 50px;
  }

}

.text{
  color: white;
  padding: 0.5rem;
}
.slideContent{
  background-color: #7D9AFF11;
  border-radius: 60px;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px 20px 10px 10px;
}

//.item-tech{
//  //max-height: 66px;
//  //min-height: 66px;
//  background-color: var(--dark-bubble);
//  color: var(--white);
//  //border-radius: 100px;
//  //flex: none;
//  //justify-content: flex-start;
//  //align-items: center;
//  //margin-bottom: 18px;
//  //margin-right: 16px;
//  //padding: 14px 28px 14px 24px;
//  //font-family: Montserrat, sans-serif;
//  font-size: 16px;
//  font-weight: 700;
//  line-height: 140%;
//  display: flex;
//}
