<div class="bg-[#0E0A14] h-auto w-full">
  <div class="container">
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Programming language</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text">
              <p>DataBase</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>DevOps</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Cloud
              </p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Design UI</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Réseaux</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Analyse</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Extraction des données</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Cybersécurité</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Sécurité</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Big Data</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Cloud Computing</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Machine learning</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Réalité virtuelle</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Langage de requêtes structurées</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Data Analyst </p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Intelligence artificielle</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class=" slideContent flex  text-white  m-2">
            <div class="text" >
              <p>Data Scientist</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
