<section class="container mx-auto px-10 pt-12 items-center">
  <h2 class="text-4xl font-bold text-white text-center my-10">Skills</h2>
  <div class="flex flex-wrap -m-4">
    <div class="p-4 lg:w-1/2 md:w-full">
      <div class="h-full bg-[#171721] px-8 py-8 rounded-lg border border-[#846CE6] overflow-hidden relative">
        <h2 class="tracking-widest text-2xl text-gray-200 text-center mb-1">Frontend</h2>
        <div class="mt-3">
          <div class="flex md:ml-auto mx-auto items-center flex-wrap gap-5 justify-center">
            <div *ngFor="let framework of listFrontend " class="inline-flex py-3 px-5 m-1 rounded-lg items-center border border-gray-100">
              <img [src]="framework?.img" class="w-6 h-6" alt="">
              <span class="ml-4 flex items-start leading-none">
                    <span class="text-lg text-gray-200 mb-1">{{framework.title}}</span>
                    </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-4 lg:w-1/2 md:w-full">
      <div class="h-full bg-[#171721] px-8 pt-7 pb-7 rounded-lg border border-[#846CE6] overflow-hidden items-center relative">
        <h2 class="tracking-widest text-2xl text-gray-200 text-center mb-1">Backend</h2>
        <div class="mt-3 ">
          <div class="">
            <div class="flex md:ml-auto mx-auto items-center flex-wrap gap-5 justify-center">
              <div *ngFor="let framework of listBackend " class="inline-flex py-3 px-5 m-1 rounded-lg items-center border border-gray-100">
                <img [src]="framework?.img" class="w-6 h-6" alt="">
                <span class="ml-4 flex items-start leading-none">
                    <span class="text-lg text-gray-200 mb-1">{{framework.title}}</span>
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-4 lg:w-1/2 md:w-full">
      <div class="h-full bg-[#171721] px-8 pt-7 pb-7 rounded-lg border border-[#846CE6] overflow-hidden items-center relative">
        <h2 class="tracking-widest text-2xl text-gray-200 text-center mb-1">Android</h2>
        <div class="mt-3 ">
          <div class="">
            <div class="flex md:ml-auto mx-auto items-center flex-wrap gap-5 justify-center">
              <div *ngFor="let framework of listAndroid " class="inline-flex py-3 px-5 m-1 rounded-lg items-center border border-gray-100">
                <img [src]="framework?.img" class="w-6 h-6" alt="">
                <span class="ml-4 flex items-start leading-none">
                    <span class="text-lg text-gray-200 mb-1">{{framework.title}}</span>
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-4 lg:w-1/2 md:w-full">
      <div class="h-full bg-[#171721] px-8 pt-7 pb-7 rounded-lg border border-[#846CE6] overflow-hidden items-center relative">
        <h2 class="tracking-widest text-2xl text-gray-200 text-center mb-1">Autres</h2>
        <div class="mt-3 ">
          <div class="">
            <div class="flex md:ml-auto mx-auto items-center flex-wrap gap-5 justify-center">
              <div *ngFor="let framework of listOther " class="inline-flex py-3 px-5 m-1 rounded-lg items-center border border-gray-100">
                <img [src]="framework?.img" class="w-6 h-6" alt="">
                <span class="ml-4 flex items-start leading-none">
                    <span class="text-lg text-gray-200 mb-1">{{framework.title}}</span>
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
