<section class="container">
  <div class="grid grid-cols-1 sm:grid-cols-12">
    <div class="col-span-7 place-self-center text-center sm:text-left">
      <h1 class="text-white mb-4 text-3xl sm:text-4xl lg:text-5xl ">
        NIENABA Jean Jacques
      </h1>
      <p class="text-[#ADB7BE] text-base sm:text-sm mb-6 lg:text-3xl">
        lorom ipsum dolor sit amet, consectetur adipiscing elit.
        Sed euismod, diam id tincidunt dapibus, nunc nisl ultrices odio,
        nec ultricies nisl nunc sit amet nisl. Sed euismod,
        diam id tincidunt dapibus, nunc nisl ultrices odio,
        nec ultricies nisl nunc sit amet nisl.
      </p>
    </div>
  </div>
</section>
